/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}
.m.adapter-container {
	height: 100%;
	width: 100%;
	position: relative;
}

#tabs {
	height: 100%;
	overflow: hidden;
}
#tabs > [id^="tabs"] {
	height: calc(100% - 48px);
	padding-top: 1rem;
	overflow-y: auto;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#map > svg {
	display: inline-block;
	height: 100%;
}

/* Add your styles here */
.node path {
	stroke: black;
	fill: grey;
}
.chord {
	fill-opacity: 0.8;
	stroke: black;
	stroke-opacity: 0.15;
}
.node-id {
	font-family: Arial;
	font-size: 18px;
}
.node-name {
	font-family: Arial;
	font-size: 11px;
	max-width: 100px;
}
text.controller {
	fill: #696969;
}
text.connected {
	fill: #699669;
}
text.disconnected {
	fill: #c90f0f;
	font-weight: bold;
}

.divider {
	margin: 1rem 0;
}

thead td {
	font-weight: 600;
}

.m .select-wrapper + label {
	/* The positioning for dropdown labels is messed up */
	transform: none !important;
}

.modal h4 {
	background: none;
}

i.material-icons.working {
	animation: rotation 1.5s infinite ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	95% {
		transform: rotate(720deg);
		animation-fill-mode: none;
	}
	95.1% {
		transform: rotate(0deg);
	}
}

i.icon-button:not(.disabled) {
	cursor: pointer;
}

i.icon-button.disabled {
	pointer-events: none;
}

.input-field label {
	width: 100%;
}

label > i[title] {
	cursor: help;
	margin-left: 0.25em;
}

.dropdown-content {
	white-space: nowrap;
}

label > .material-icons,
h5 > .material-icons {
	vertical-align: bottom;
}

.modal-actions-row {
	display: flex;
	flex-flow: row nowrap;
	margin: 0.5em 0;
	justify-content: space-between;
	align-items: center;
}
